main {
  background: #cb9173;
  padding: 15px;
}
#header {
  margin: 5%;
  font-family: 'Bevan', serif;
  font-size: 42px;
  text-align: center;
  line-height: 1.3em;
}
#header-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 10px;
}
#subcaption {
  font-size: 30px;
}
#nav-bar {
  background: #8e443d;
  font-size: 30px;
  line-height: 1em;
  padding: 10px;
}
.nav-link {
  color: #cb9173;
  /*background: #511730; use this color for hover animation*/
  padding: 5px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
}
