main {
  background: #cb9173;
  padding: 15px;
  font-family: 'Bevan', serif;
}
#header {
  margin: 5%;
  font-size: 42px;
  text-align: center;
  line-height: 1.3em;
}
#header-img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 10px;
}
#subcaption {
  font-size: 30px;
}
#nav-bar {
  font-family: 'Nanum Gothic', sans-serif;
  background: #8e443d;
  font-size: 22px;
  line-height: 1.1em;
  margin: 10px;
  padding: 5px;
  position: fixed;
  top: 0px;
}
/*#nav-title {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  margin: 10px;
}*/
.nav-link {
  color: #e0d68a;
  /*background: #511730; use this color for hover animation*/
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
}
.video {
  display: block;
  margin: auto;
}
#form-blurb {
  font-family: 'Nanum Gothic', sans-serif;
}
#form {
  color: #e0d68a;
  background: #511730;
  font-family: 'Nanum Gothic', sans-serif;
}
#submit {

}
